<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
  <title>Newendo</title>
</head>

<body>
  <div class="col-4 offset-5">
    <img src="assets/img/logo.jpg" alt="logo" height="137">
</div>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-white mb-9">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-4 mb-lg-0">
                    <a href="{% url 'indice' %}"><button type="button" class="btn btn-outline-dark">Inicio</button></a>
                    <a href="{% url 'bienvenido' %}"><button type="button" class="btn btn-outline-dark">Bienvenido</button></a>
                    <a href="{% url 'acerca' %}"><button type="button" class="btn btn-outline-dark">¿Quiénes somos?</button></a>
                    <a href="{% url 'nutricion' %}"><button type="button" class="btn btn-outline-dark">Nutrición</button></a>
                    <a href="{% url 'clima' %}"><button type="button" class="btn btn-outline-dark">Clima</button></a>
                    <a href="{% url 'contacto' %}"><button type="button" class="btn btn-outline-dark">Contacto</button></a>
                </ul>
            </div>
        </div>
    </nav>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-warning pt-0 pb-0">
  <div class="container-fluid fs-5 d-flex justify-content-center">
    <a class="navbar-brand fs-3" href="#">Tecnologías del yo dedicadas a la deconstrucción del ser, a través, de la modificación corporal.</a>
  </div>
</nav>


    <div class="row row-cols-1 row-cols-md-3 g-4 mt-1 mx-5 px-5">
      <div class="col px-5">
        <div class="card h-100">
          <img src="assets/img/Mezieres1.jpg" class="card-img-top" alt="Buenos Aires">
          <div class="card-body">
            <h5 class="card-title">Françoise Mézières</h5>
            <p class="card-text">Françoise Mézières  fue una fisioterapeuta francesa, creadora del concepto de cadenas musculares y del Método Mézières.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a href="#" class="stretched-link">Ver más</a></small>
          </div>
        </div>
      </div>
      <div class="col px-5">
        <div class="card h-100">
          <img src="assets/img/ida-rolfing.jpg" class="card-img-top" alt="Machu Pichu">
          <div class="card-body">
            <h5 class="card-title">Ida Rolf</h5>
            <p class="card-text">El rolfing es una técnica que masajea la fascia o tejido conjuntivo, que envuelve músculos y huesos.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a href="#" class="stretched-link">Ver más</a></small>
          </div>
        </div>
      </div>
      <div class="col px-5">
        <div class="card h-100">
          <img src="assets/img/Alexander-Lowen-1.jpg" class="card-img-top" alt="Rio de Janeiro">
          <div class="card-body">
            <h5 class="card-title">Alexander Lowen</h5>
            <p class="card-text">Es una de las de las teorías psicoterapias corporales más utilizadas , dichas tecnicas incluyen el trabajo corporal en el tratamiento del paciente.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><a href="#" class="stretched-link">Ver más</a></small>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid"> <!-- Asegúrate de tener un contenedor fluido si quieres que las tarjetas ocupen toda la pantalla -->
      <div class="row row-cols-1 row-cols-md-2 g-4 mt-1 mx-5 px-5"> <!-- Cambiado a row-cols-md-2 para dos columnas en pantallas medianas o más grandes -->
        <div class="col-12 col-md-6 px-5"> <!-- Cada tarjeta ahora ocupa 12 columnas en pantallas pequeñas y 6 en pantallas medianas o más grandes -->
          <div class="card h-100">
            <img src="assets/img/Patanjali.jpg" class="card-img-top" alt="Buenos Aires">
            <div class="card-body">
              <h5 class="card-title">Patanjali</h5>
              <p class="card-text">El Yoga Sutra de Patanjali es un texto tradicional de yoga compilado hace dos milenios.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted"><a href="#" class="stretched-link">Ver más</a></small>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 px-5"> <!-- Mismo cambio aquí -->
          <div class="card h-100">
            <img src="assets/img/Nietzsche.bmp" class="card-img-top" alt="Machu Pichu">
            <div class="card-body">
              <h5 class="card-title">Friedrich Nietzsche</h5>
              <p class="card-text">Voluntad de poder</p>
            </div>
            <div class="card-footer">
              <small class="text-muted"><a href="#" class="stretched-link">Ver más</a></small>
            </div>
          </div>
        </div>
      </div>
    </div>
    


<!-- footer -->
<footer class="pie-pagina container-fluid mt-3">
  <div class="grupo-1 d-flex flex-wrap justify-content-between align-items-center">
      <div class="box mb-3 mb-md-0">
          <figure>
              <a href="#" aria-label="Ir al inicio">
                  <img src="assets/img/logo.jpg" alt="Logo Newendo" height="167">
              </a>
          </figure>
      </div>
      <div class="box mb-3 mb-md-0">
          <h2 class="mb-2">Newendo</h2>
          <p class="text-muted">El camino de la energía es una tecnología del yo dedicada a la deconstrucción del ser por medio de la guerra contra el cansancio.</p>
      </div>
  </div>
</footer>
<footer id="Footer" class="container-fluid bg-warning">
  <div class="container">
    <div class="row">
        <div class="text-end py-2">
          <h6>Puedes contactarme en mis redes sociales.</h6>
          <a href="https://github.com/victorPenafiel" target="blank">
            <i class="fab fa-github-square fa-2x mx-2" data-bs-toggle="tooltip" data-bs-placement="top" title="GitHub">
            </i>
          </a>
          <a href="https://www.linkedin.com/in/victorpenafiel/" target="blank">
            <i class="fab fa-linkedin fa-2x mx-2" data-bs-toggle="tooltip" data-bs-placement="top" title="LinkedIn">
            </i>
          </a>
          <a href="https://twitter.com/Newen_Do" target="_blank">
            <i class="fab fa-twitter-square fa-2x mx-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter">
            </i>
          </a>
          <a href="https://web.facebook.com/victorpenafiel?_rdc=1&_rdr" target="_blank">
            <i class="fab fa-facebook-square fa-2x mx-2"data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook">
            </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
    <script src="assets/js/script.js"></script>
  </body>
</html>